.header {
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; 
}

.navigation {
    display: flex;
    align-items: center;

    &__list {
        display: none;
        @include tablet {
            display: flex;
            margin-left: 87px;
        @include desktop {
            margin-left: 93px;
        }
        }
        
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-dark);
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
        &.current::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
            left: 0;
            top: 45px;
        }
    }
    &-item:not(:first-child) {
        margin-left: 50px;
    }    
}

.contacts {
    display: none;
    @include tablet {
            display: flex;
            flex-direction: column;
            gap: 10px;
    } 
    @include desktop {
        flex-direction: row;
        gap: 50px;
    }

    // &__item:not(:first-child) {
    //     margin-left: 50px;
    // }
    &__link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-second-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
        &:hover .contacts__icon,
        &:focus .contacts__icon {
            fill: var(--accent-color);
        }
    }
    &__icon {
       fill: var(--text-second-color);
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }      
}

.header__menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
    
    &:hover,
    &:focus {
        color: var(--accent-color);
            }
        
    
    .header__menu-svg {
            width: 40px;
            height: 40px;
            fill: currentColor;
        }
    @include tablet {
        display: none;

    
    }
}