.hero {
    background-color: var(--second-bgcolor);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    
    &__text {
            font-weight: 900;
            // font-size: 44px;
            font-size: 26px;
            // line-height: 1.36;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: var(--text-light);
            max-width: 696px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
    
    
        }

    &__btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--text-light);
    background-color: var(--accent-color);
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
}
}


