
.projects {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 30px;

    &__text {
        position: absolute;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(28 / 18);
        letter-spacing: 0.03em;
        color: var(--text-light);
        background-color: rgba(33, 150, 243, 0.9);
        top: 0;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 63px 24px;

    }
    &__item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),1px 4px 6px rgba(0, 0, 0, 0.16);
            }
        &:hover .projects__text {
            transform: translateY(0);
                        }
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--text-dark);

    }

    &__sign {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.67;
        letter-spacing: 0.03em;
        color: var(--text-second-color);
    }

    &__title-sign {
        padding: 20px 24px;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
    }
    &__wrap {
        position: relative;
        overflow: hidden;
    }
}






